<h2>🎀 Editar Perfil</h2>
<div class="flex">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="table">
  <div class="set_flex left">
  <fieldset >
    <legend>Dados Pessoais</legend>
  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :cpf, "CPF" %>
    <%= f.text_field :cpf, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :email, "E-mail" %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %>
    <% if @minimum_password_length %>
    <em>(Mínimo <%= @minimum_password_length %> caracteres)</em><br>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmação de Senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

</fieldset>

  <fieldset>
    <legend>Medidas</legend>
    <div class="field">
      <%= f.label :bust, "Busto" %>
      <%= f.text_field :bust, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :waist, "Cintura" %>
      <%= f.text_field :waist, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :hip, "Quadril" %>
      <%= f.text_field :hip, autocomplete: "off" %>
    </div>
  </fieldset>
</div>

<div class="set_flex right">
  <fieldset>
    <legend>Endereço</legend>
  <div class="field">
    <%= f.label :public_place, "Logradouro" %>
    <%= f.text_field :public_place, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :district, "Bairro" %>
    <%= f.text_field :district, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :number_house, "Nº da Casa" %>
    <%= f.text_field :number_house, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :complement, "Complemeto" %>
    <%= f.text_field :complement, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :cep, "CEP" %>
    <%= f.text_field :cep, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :city, "Cidade" %>
    <%= f.text_field :city, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :state, "Estado" %>
    <%= f.text_field :state, autocomplete: "off" %>
  </div>
  </fieldset>
</div>
</div>

<div class="field">
  <%= f.label :current_password, "Senha" %> <i>(Nós precisamos que você confirme sua senha atual)</i><br />
  <%= f.password_field :current_password, autocomplete: "off" %>
</div>

<div class="actions">
  <%= f.submit "Salvar" %>
</div>
<% end %>
</div>
<hr>
<h3>😿 Cancelar minha conta</h3>

<div class="left">
Ficamos tristes com essa escolha. <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %>
</div>

<div class="link_back">
<%= link_to "Voltar", :back %>
</div>
