
<%= form_for(@clote, :html => { :multipart => true}) do |f| %>
  <% if @clote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clote.errors.count, "error") %> prohibited this clote from being saved:</h2>

      <ul>
      <% @clote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="field">
    <%= f.label :model, "Modelo" %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :price, "Preço" %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :description, "Descrição" %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
      <%= f.label :category_id, "Categoria" %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= f.label :photo, "Imagem" %>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>

</fieldset>
<% end %>
