<% if current_user and current_user.employee == 'y' %>

<h2>🎀 Roupas </h2>

<table>
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Categoria</th>
      <th>Modelo</th>
      <th>Preço</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clotes.each do |clote| %>
      <tr>
        <td><%= image_tag clote.photo.url(:thumb)%></td>
        <td><%= clote.category.name %></td>
        <td><%= clote.model %></td>
        <td>R$ <%= format("%.2f", clote.price || 0) %></td>
        <td><%= clote.description %></td>
        <td><%= link_to  'Ver', clote %></td>
        <td><%= link_to  'Editar', edit_clote_path(clote) %></td>
        <td><%= link_to  'Excluir', clote, method: :delete, data: { confirm:  'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="link_back">
<%= link_to 'Novo Modelo', new_clote_path %>
</div>
<% else %>
  <p>Acesso Negado</p>
<% end %>
