<% if current_user and current_user.employee == 'y' %>
  <h2>🎀 Novo Modelo </h2>

<%= render :partial => 'form' %>
<div class="link_back">
<%= link_to  'Voltar', clotes_path %>
</div>
<% else %>
  <p>Acesso Negado</p>
<% end %>
