<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<fieldset>
  <div class="field">
      <%= f.label :clote_id, "Modelo" %>
      <%= f.collection_select(:clote_id, Clote.all, :id, :model, prompt: true) %>
  </div>

  <div class="field">
    <%= f.label :amount, "Quantidade Atual em Estoque" %>
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.label :minimum, "Quantidade Mínima em Estoque" %>
    <%= f.number_field :minimum %>
  </div>

  <div class="field">
      <%= f.label :measure_id, "Tamanho" %>
      <%= f.collection_select(:measure_id, Measure.all, :id, :size, prompt: true) %>
  </div>


  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>

</fieldset>
<% end %>
