<p id="notice"><%= notice %></p>
<% if current_user and current_user.employee == 'y' %>

  <h2>🎀 Estoque </h2>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Mínimo</th>
      <th>Tamanho</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.clote.id %></td>
        <td><%= stock.clote.model %></td>
        <td><%= stock.amount %></td>
        <td><%= stock.minimum %></td>
        <td><%= stock.measure.size %></td>
        <td><%= link_to  'Ver', stock %></td>
        <td><%= link_to  'Editar', edit_stock_path(stock) %></td>
        <td><%= link_to  'Excluir', stock, method: :delete, data: { confirm:  'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="link_back">
<%= link_to 'Cadastrar Estoque', new_stock_path %>
</div>

<% else %>
  <p>Acesso Negado</p>
<% end %>
