<h2>🎀 Laços de Seda</h2>

<% @stock.each do |stock| %>

  <div class="banner left">
    <figure>
      <%= image_tag stock.clote.photo.url(:medium)%>
    </figure>
    <b><%= stock.clote.model %></b>
    <%= stock.measure.size %><br>
    <% if stock.clote.price %>
      R$ <%= format("%.2f", stock.clote.price) %><br>
    <% end %>
    <%= link_to  'Experimentar', stock %><br>
  </div>
<% end %>
