<h2>🎀 Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset style="margin:auto">
  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Lembrar-me" %>
    </div>
  <% end -%>
</fieldset>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="link_back">
  <%= render "devise/shared/links" %>
</div>
