<% if current_user and current_user.employee == 'y' %>
<h2>🎀 Editar Categoria</h2>

<%= render 'form', category: @category %>

<div class="link_back">
<%= link_to 'Ver', @category %> |
<%= link_to 'Voltar', categories_path %>
</div>

<% end %>
