<% if current_user and current_user.employee == 'y' %>

<h2>🎀 Categorias</h2>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to  'Ver', category %></td>
        <td><%= link_to  'Editar', edit_category_path(category) %></td>
        <td><%= link_to  'Excluir', category, method: :delete, data: { confirm:  'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="link_back">
<%= link_to 'Nova Categoria', new_category_path %>
</div>
<% end %>
