<% if current_user and current_user.employee == 'y' %>
<p id="notice"><%= notice %></p>

<p>
  <h2>🎀 Categoria</h2>
  <strong>Nome:</strong>
  <%= @category.name %>
</p>

<div class="link_back">
<%= link_to  'Editar', edit_category_path(@category) %> |
<%= link_to  'Voltar', categories_path %>
</div>

<% end %>
