<%= form_for(measure) do |f| %>
  <% if measure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measure.errors.count, "error") %> prohibited this measure from being saved:</h2>

      <ul>
      <% measure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="field">
    <%= f.label :size, "Tamanho" %>
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :bust, "Busto" %>
    <%= f.text_field :bust %>
  </div>

  <div class="field">
    <%= f.label :waist, "Cintura" %>
    <%= f.text_field :waist %>
  </div>

  <div class="field">
    <%= f.label :hip, "Quadril" %>
    <%= f.text_field :hip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>
