<% if current_user and current_user.employee == 'y' %>

  <h2>🎀 Medidas </h2>

<table>
  <thead>
    <tr>
      <th>Tamanho</th>
      <th>Busto</th>
      <th>Cintura</th>
      <th>Quadril</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= measure.size %></td>
        <td><%= measure.bust %></td>
        <td><%= measure.waist %></td>
        <td><%= measure.hip %></td>
        <td><%= link_to  'Ver', measure %></td>
        <td><%= link_to  'Editar', edit_measure_path(measure) %></td>
        <td><%= link_to  'Excluir', measure, method: :delete, data: { confirm:  'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="link_back">
<%= link_to 'Nova Medida', new_measure_path %>
</div>
<% else %>
  <p>Acesso Negado</p>
<% end %>
