<% if current_user and current_user.employee == 'y' %>

<h2> 🎀 <%= @measure.size %>
</h2>

<p>
  <strong>Tamanho:</strong>
  <%= @measure.size %>
</p>

<p>
  <strong>Busto:</strong>
  <%= @measure.bust %>
</p>

<p>
  <strong>Cintura:</strong>
  <%= @measure.waist %>
</p>

<p>
  <strong>Quadril:</strong>
  <%= @measure.hip %>
</p>

<div class="link_back">
<%= link_to  'Editar', edit_measure_path(@measure) %> |
<%= link_to  'Voltar', measures_path %>
</div>
<% else %>
  <p>Acesso Negado</p>
<% end %>
